<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发布-社区项目入门</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css"><!--快速引入样式方法，直接从左边项目列表将文件拉过来即可，然后微改href的内容-->
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>

<body>
<!--/*@thymesVar id="name" type=""*/-->
<div th:insert="~{navigation :: nav}"></div>
<!--添加发布页面的内容-->
<div class="container-fluid main">
    <div class="row">
        <!--先是左边从上而下的页面设计-->
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12"><!--快捷键div-col-lg-9后按Tab键可快速补充标签-->
            <h2><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>发起</h2>
            <hr><!--hr是显示分隔线-->

            <form action="/publish" method="post">
                <input type="hidden" name="id" th:value="${id}">
                <!--一个div标签就是一个设计内容-->
                <div class="form-group">
                    <label for="title">问题标题(简要扼要)</label>
                    <!--iuput输入框-->
                    <input type="text" class="form-control" id="title" th:value="${title}" name="title"
                           placeholder="问题标题...">
                </div>
                <div class="form-group">
                    <label for="description">问题补充(必填，请按右侧提示)</label>
                    <!--textarea文本域-->
                    <textarea name="description" id="description" th:text="${description}" class="form-control" cols="30" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <label for="tag">添加标签</label>
                    <!--iuput输入框-->
                    <input type="text" class="form-control" id="tag" th:value="${tag}" name="tag"
                           placeholder="输入标签并以,隔开">
                </div>

                <!--显示错误信息，如果存在错误信息，就返回publish页面，显示出来-->
                <span class="alert alert-danger" th:text="${error}" th:if="${error != null}"></span>
                <!--添加按钮-->
                <button type="submit" class="btn btn-success btn-publish">发布</button>
            </form>
        </div>
        <!--再是右边从上向下的设计-->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>问题发起指南</h3>
            ·问题标题：请用精简的语言描述，不超过25字<br><!--br换行-->
            ·问题补充：详细补充问题内容，确保问题清晰直观<br>
            ·选择标签：选择一个或多个合适标签，用逗号隔开，每个标签不超过10个字<br>
        </div>
    </div>
</div>
</body>
</html>